@import "tailwindcss";

:root {
  --main-color: #68bc52;
  --secondary-color: #93979a;
  --black: #000000;
  --soft-black: #2d2d2d;
  --white: #ffffff;
}

* {
  font-family: var(--font-poppins), sans-serif;
}

html,
body {
  font-family: var(--font-poppins), sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

button {
  cursor: pointer !important;
}

p {
  margin-bottom: 0 !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-main: #68bc52;
  --color-secondary: #93979a;
  --color-soft-black: #2d2d2d;

  --font-poppins: var(--font-poppins), sans-serif;
  --font-garamond: var(--font-garamond), serif;
  --font-oswald: var(--font-oswald), sans-serif;
  --font-cairo: var(--font-cairo), sans-serif;
  --font-almarai: var(--font-almarai), sans-serif;

  --container-center: true;
  --container-padding: 1rem;

  --breakpoint-xsm: 450px;
}
